.ErrorMessage {
    max-width: 1024px;
    width: 100%;
    margin: 5% auto;
    color: var(--color-primary);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-secondary);
}

.ErrorMessage_Header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 90px;
}

.ErrorMessage_Icon {
    width: 35px;
    height: 35px;
}

.ErrorMessage_Text {
    padding: 10px 90px;
}